@import "tailwindcss";
@source "../.flowbite-react/class-list.json";

html,
body {
  width: 100%;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@theme {
  --color-white: #f1f1f1;
  --color-white-100: #efefef;
  --font-sans: "Mona Sans", sans-serif;
  --font-modern-negra: "Modern Negra", sans-serif;
  --font-serif: "DM Serif Text", serif;
}

@utility flex-center {
  @apply flex justify-center items-center;
}

@layer components {
  main {
    @apply w-full overflow-x-hidden;
  }
  nav {
    @apply fixed z-50 w-full;
    div {
      @apply flex md:flex-row md:justify-between items-center gap-5 py-5 lg:px-0 px-5 container mx-auto;
    }
    p {
      @apply text-3xl font-medium;
    }

    a {
      @apply cursor-pointer text-nowrap md:text-base text-sm;
    }

    ul {
      @apply flex-center lg:gap-12 gap-7;
    }
  }
  .noisy {
    @apply absolute inset-0 size-full bg-[url("/images/noise.png")];
  }
  #hero {
    @apply relative z-10 min-h-dvh w-full border border-transparent;

    h1 {
      @apply md:mt-32 mt-40 text-6xl md:text-[10vw] leading-none text-center md:text-left font-modern-negra;
    }
    h2 {
      @apply md:-mt-4 -mt-3 text-6xl md:text-[10vw] leading-none text-center md:text-left font-modern-negra;
    }
  }
}
